<html>
	<head>
		<title> PAGE POTIN </title>
	</head>
	<body>
		<p> Voici la page du potin n. <%= params['id'] %> </p>
		<p> Son auteur :  <%= gossips[0] %> <br/> </p>
		<p> Le contenu du potin : <%= gossips[1] %> <br/> </p>
		<p> <a href="/"> Cliquez ici pour revenir à la homepage </a> </p>
		
	</body>
</html>